@model List<DeveloperAssessmentFor_KnilaItSolutions.Models.Book>


<div class="card text-center bg-primary">
    <div class="card-header">
        Stored Procedures Publisher Author Title
    </div>
</div>


<div>
<form method="post" asp-action="InsertData" asp-controller="Books">
    <table class=" table table-bordered">
        <thead class="align-items-center">
            <tr>
                <th>Publisher</th>
                <th>AuthorLastName</th>
                <th>AuthorFirstName</th>
                <th>Title</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var book in Model)
            {
                <tr>
                    <td><input type="hidden" name="books[@Model.IndexOf(book)].Publisher" value="@book.Publisher" />@book.Publisher</td>

                    @*   @($"{book.AuthorLastName}, {book.AuthorFirstName}")*@
                    <td><input type="hidden" name="books[@Model.IndexOf(book)].AuthorLastName" value="@book.AuthorLastName" />@book.AuthorLastName</td>
                    <td><input type="hidden" name="books[@Model.IndexOf(book)].AuthorFirstName" value="@book.AuthorFirstName" />@book.AuthorFirstName</td>
                    <td><input type="hidden" name="books[@Model.IndexOf(book)].Title" value="@book.Title" />@book.Title</td>
                    @*<td><input type="hidden" name="books[@Model.IndexOf(book)].Id" value="@book.Id" />@book.Id</td> <!-- Add a hidden field for ID -->*@
                </tr>
                @*<td>@book.Publisher</td>
            <td>@($"{book.AuthorLastName}, {book.AuthorFirstName}")</td>
            <td>@book.Title</td>*@


            }
        </tbody>
    </table>
    <div>
            <button type="submit" class="btn btn-primary" asp-area="" asp-controller="Books" asp-action="SortedList">Back</button>
    </div>
    
</form>
</div>